<h1>Edit Note</h1>

<%= form_for(@note, url: routine_item_note_path(@routine, @item, @note)) do |f| %>
  <div class="">
    <%= f.label :content %>
    <%= f.text_area:content, size: "30x10"  %>
  </div>
  <br>
  <br>
  <%= f.hidden_field :item_id, value: @item.id %>
  <%= f.submit "edit note" %>
<% end %>
