<h1>Add a note</h1>

<% if @note.errors.any? %>
  <div class="errors">
    <h2>
      <%= pluralize(@note.errors.count, "error") %>
      prohibited this note from being saved:
    </h2>
    <ul>
    <% @note.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@note, url: routine_item_notes_path(@routine, @item)) do |f| %>
  <div class="">
    <%= f.label :content %>
    <%= f.text_area:content, size: "30x10"  %>
  </div>
  <br>
  <br>
  <%= f.hidden_field :item_id, value: @item.id %>
  <%= f.submit "add note" %>
<% end %>
