<div class="routine-banner2"><h1><%= @item.name %> Note: <%= date @note%></h1></div>

<div class="note-links">
  <%= link_to "delete note", routine_item_note_path(@routine, @item, @note), method: :delete %>
  <%= link_to "edit note", edit_routine_item_note_path(@routine, @item, @note) %>
</div>

<div class="note-content">
  <p><%= @note.content %></p>
</div>
