<h1><%= @routine.name %></h1>

<div class="routine-links">
    <%= link_to "delete routine", routine_path(@routine), method: :delete %>
    <%= link_to "edit routine", edit_routine_path(@routine) %>
    <%= link_to "view items", routine_items_path(@routine) %>
    <%= link_to "add item", new_routine_item_path(@routine, @item) %>
</div>

<div class="routine-item-list">
  <ol>
    <% @routine.items.each do |item| %>
      <li><%= link_to item.name, routine_item_path(@routine, item) %></li>
    <% end %>
  </ol>
</div>
