<h1>signup</h1>

<% if @user.errors.any? %>
  <div class="errors">
    <h2>
      <%= pluralize(@user.errors.count, "error") %>
      prohibited this user from being saved:
    </h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="signup-form">
  <%= form_for @user do |f|%>
    <div class="">
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>
    <br>
    <div class="">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <br>
    <%= f.submit "sign up" %>
  <% end %>
</div>
