<div class="user-banner"><h1>Welcome <%= @user.username %></h1></div>

<div class="user-main">
  <div class="routine-widget">
    <h3>ROUTINES</h3>
    <% @user.routines.each do |routine| %>
      <div class="routine-widget-item"><%= link_to routine.name, routine_path(routine) %></div>
    <% end %>
  </div>

  <div class="tip">
    <h2>Practice Tip: <span><%= @tip.title %></span></h2>
    <p><%= @tip.content %></p>
  </div>

  <div class="stats-widget">
    <div class="most-popular-instrument">
      <h3>Most Popular Instrument</h3>
      <% if @top_instrument != nil %>
        <%= @top_instrument.name %>
      <% else %>
        <p>An instrument has not been created yet.</p>
      <% end %>
    </div>

    <div class="number-of-routines">
      <h3>Number of Routines</h3>
      <%= @routine_count %>
    </div>

    <div class="number-of-instruments">
      <h3>Number of Instruments</h3>
      <%= @instrument_count %>
    </div>
  </div>
</div>
