<h1><%= @routine.name %>: <%= @item.name %></h1>

<div class="container">
  <div class="grid-item-1">
    <div class="item-content">
      <p><%= @item.name %></p>
      <p><%= @item.description %></p>
      <p><%= @item.goal %></p>
    </div>

    <div class="item-buttons">
      <%= link_to "delete item", routine_item_path(@routine, @item), method: :delete %>
      <%= link_to "edit item", edit_routine_item_path(@routine, @item) %>
      <%= link_to "next item", routine_item_path(@routine, @next) %>
      <%= link_to "new note", new_routine_item_note_path(@routine, @item) %>
    </div>
  </div>

  <div class="grid-item-2">
    <div class="item-notes">
      <h3>Notes</h3>

      <% @item.notes.each do |note| %>
        <li><%= link_to date(note), routine_item_note_path(@routine, @item, note) %> - <%= note.content %></li>
      <% end %>
    </div>
  </div>
</div>
