<h1><%= @routine.name %>: <%= @item.name %></h1>

<ul>
  <li><%= link_to "delete item", routine_item_path(@routine, @item), method: :delete %></li>
  <li><%= link_to "edit item", edit_routine_item_path(@routine, @item) %></li>
</ul>

<%= button_to "next item", routine_item_path(@routine, @next), method: :get %>

<p><%= @item.name %></p>
<p><%= @item.description %></p>
<p><%= @item.goal %></p>

<h3>Notes</h3>

<% @item.notes.each do |note| %>
  <li><%= link_to note.created_at, routine_item_note_path(@routine, @item, note) %> - <%= note.content %></li>
<% end %>
