<!DOCTYPE html>
<html>
  <head>
    <title>RoutineApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav-bar">
      <%= link_to "login", login_path %> |
      <%= link_to "sign in with google", '/auth/google_oauth2'%> |
      <%= link_to "signup", signup_path %> |
    </div>
    <%= yield %>
  </body>
</html>
