<!DOCTYPE html>
<html>
  <head>
    <title>RoutineApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application',
    'https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap',
    'https://fonts.googleapis.com/css2?family=Raleway&display=swap',
    media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav-bar">
      <% if !logged_in? %>
        <%= link_to "home", "/" %>
        <%= link_to "login", login_path %>
        <%= link_to "signup", signup_path %>
        <%= link_to "sign in with google", '/auth/google_oauth2'%>
      <% else %>
        <%= link_to "home", user_path(current_user) %>
        <%= link_to "routines", routines_path %>
        <%= link_to "new routine", new_routine_path %>
        <%= link_to "instruments", instruments_path %>
        <%= link_to "logout", logout_path, method: :delete %>
      <% end %>
    </div>

    <% if flash[:message] %>
      <div class="flash_message">
        <%= flash[:message]  %>
      </div>
    <% end %>

    <%= yield %>
  </body>

  <footer><p class="copyright">Tom Banish &copy 2021</p></footer>
</html>
